* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #ff5e43;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  width: 20%;
  margin: 100px auto auto auto;
  border-radius: 10px;
  box-shadow: 0px 0px 30px -1px rgba(0, 0, 0, 0.349);
}

.card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100px;
  margin-top: 10px;
}

.card-header h1 {
  margin-bottom: 0;
  font-weight: 600;
  letter-spacing: 1px;
  color: #ff5e43;
  margin-top: 20px;
}

.card-slogan {
  margin-top: 5px;
  text-transform: lowercase;
  font-size: 1.2em;
}

.card-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  width: 80%;
  justify-content: center;
  background-color: #ff5e43;
  color: #f6f6f6;
  height: 50px;
  margin-top: 70px;
  margin-bottom: 70px;
  font-size: 1.2em;
}

.card-button:hover {
  background-color: black;
}

.card-img-cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #dfedf1;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.card-barista-img {
  margin-top: 40px;
  width: 70%;
  -webkit-filter: drop-shadow(2px 2px 0px #ffffff);
      filter: drop-shadow(2px 2px 0px #ffffff);
}
